@using ValiStore.Models.ViewModels
@model List<CartItemModel>
@{
	Layout = null;
	var TotalPrice = ViewBag.GrandTotal;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | E-Shopper</title>
    <link href="~/LayoutEshopper/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/LayoutEshopper/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/LayoutEshopper/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/LayoutEshopper/css/price-range.css" rel="stylesheet">
    <link href="~/LayoutEshopper/css/animate.css" rel="stylesheet">
	<link href="~/LayoutEshopper/css/main.css" rel="stylesheet">
	<link href="~/LayoutEshopper/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/LayoutEshopper/js/html5shiv.js"></script>
    <script src="~/LayoutEshopper/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="~/LayoutEshopper/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/LayoutEshopper/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/LayoutEshopper/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/LayoutEshopper/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/LayoutEshopper/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						@if(Model != null&& Model.Count > 0){
							@foreach(var item in Model){
								<tr>
									<td class="cart_product">
										<a href=""><img class="img_cart_product" src="@Url.Content("~/ProductsImages/Images/"+item.Product.AnhDaiDien)" alt=""></a>
									</td>
									<td class="cart_description">
										<p>@item.Product.TenSp</p>
									</td>
									<td class="cart_price">
										<p>@item.Product.GiaLonNhat</p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<input class="cart-item font-xl color-brand-3" type="number" data-bookid="@item.Product.MaSp" data-price="@item.Product.GiaLonNhat" value="@item.Quantity">
										</div>
										<a class="btn-delete btn btn-danger btn-sm" data-bookid="@item.Product.MaSp">Remove</a>
									</td>
									<td class="cart_total">
										<p class="cart_total_price">@item.Total</p>
									</td>
									<td class="cart_delete">
										<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
									</td>
								</tr>
							}
							<tr>
								<td colspan="6">Grand Total: @TotalPrice.ToString()</td>
							</tr>
							
						}else
						{
							<tr>
								<td colspan="5"><h4>Giỏ Hàng của bạn đang trống</h4></td>
							</tr>
							
						}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Use Coupon Code</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$59</span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a  class="btn btn-default check_out" asp-controller="Cart"  asp-action="CheckOut">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	


    <script src="~/LayoutEshopper/js/jquery.js"></script>
	<script src="~/LayoutEshopper/js/bootstrap.min.js"></script>
	<script src="~/LayoutEshopper/js/jquery.scrollUp.min.js"></script>
    <script src="~/LayoutEshopper/js/jquery.prettyPhoto.js"></script>
    <script src="~/LayoutEshopper/js/main.js"></script>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$(".cart-item").click(function () {
			var productId = $(this).data('bookid');
			var quantity = $(this).val();
			$.ajax({
				url: '/api/cart/update',
				type: "POST",
				data: {
					productId: productId,
					quantity: quantity
				},
				success: function (response) {
					window.location = 'cart.html';
				},
				error: function (error) {
					alert("error update cart");
				}
			});
		});

		$(".btn-delete").click(function () {
			var productId = $(this).data('bookid');
			$.ajax({
				url: '/api/cart/remove',
				type: "POST",
				data: {
					productId: productId
				},
				success: function (response) {
					window.location = 'cart.html'
				},
				error: function (error) {
					console.log(error);
				}
			});
		});

	});
</script>
