
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/LayoutShopOgani.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
<div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                @foreach (var item in Model)
                                {
                                    @await Html.PartialAsync("PartialFillterProduct",item)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <form asp-action="Shop" asp-controller="Home" method="get" id="sortForm">
                                        <select id="sortOrder" name="sortOrder" onchange="submitForm()" >
                                            <!option value="price_asc" @(ViewData["sortValue"] as string == "price_asc" ? "selected": "")>Price ⭫</!option>
                                            <!option value="price_desc" @(ViewData["sortValue"] as string == "price_desc" ? "selected" : "")>Price ⭭</!option>
                                            <!option value="name_asc" @(ViewData["sortValue"] as string == "name_asc" ? "selected" : "")>A->Z ⭫</!option>
                                            <!option value="name_desc" @(ViewData["sortValue"] as string == "name_desc" ? "selected" : "")>A->Z ⭭</!option>
                                        </select>
                                    </form>
                    <script>
                        function submitForm() {
                            document.getElementById("sortForm").submit();
                        }
                    </script>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            @await Html.PartialAsync("PartialSanPham",item)
                        }
                    </div>
                    <div class="product__pagination">
                        @Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}))
                    </div>
                </div>


